body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #282c34, #3a3d4a);
    color: #ffffff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #21252b;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

header h1 {
    margin: 0;
    color: #61dafb;
}

header p {
    margin: 5px 0;
    font-size: 1.1em;
    color: #bbbbbb;
}

button {
    background-color: #61dafb;
    color: #21252b;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #50b3e6;
}

main {
    margin-top: 20px;
}

section {
    margin-bottom: 20px;
    background-color: #333842;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

section h2 {
    margin-top: 0;
    color: #61dafb;
}

input {
    width: calc(50% - 10px);
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #bbbbbb;
}

/* Estilo para el botón de desconexión */
button#connectBtn {
    background-color: #ff4c4c; /* Color para el botón de desconectar */
    color: #ffffff;
}

button#connectBtn:hover {
    background-color: #ff2f2f; /* Hover color para desconectar */
}
